body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: .3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
}

.leaderboard-list li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.leaderboard-list li strong {
    color: #333;
}

.leaderboard-list li {
    font-size: 16px;
}

.content {
    font-size: medium;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: #1a1a1a;
}

footer {
    background-color: #333;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    header nav ul li {
        margin: 1px 0;
    }

    header nav ul li a {
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    header nav ul li a i {
        margin-right: 8px;
        font-size: 18px;
    }

    header nav ul li a span {
        display: none;
    }

    .logo {
        font-size: 20px;
        text-align: left;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes underline {
    0% {
        width: 0;
        transform: translateX(0);
    }

    50% {
        width: 100%;
        transform: translateX(0);
    }

    100% {
        width: 0;
        transform: translateX(0);
    }
}

.animated-text {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards, colorChange 3s ease-in-out infinite alternate;
    position: relative;
    white-space: nowrap;
}

@keyframes colorChange {
    0% {
        color: #181818;
    }

    50% {
        color: #f0802a;
    }

    100% {
        color: #252525;
    }
}

.animated-text::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    background-color: #f0792a;
    width: 0%;
    animation: underline 2s ease-in-out infinite;
}