<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMR Boys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <!-- <span style="color:blue">G</span>orrela <span style="color:rgb(255, 213, 0)">M</span>andha <span
                    style="color:blue">R</span>andi (GMR) -->
                GMR Boys
            </div>
            <div>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li><a href="/leaderboard"><i class="fas fa-trophy"></i><span>Leaderboard</span></a></li>
                    <li><a href="whatsapp://send?text=https://gmrboys.onrender.com"><i
                                class="fas fa-share-alt"></i><span>Share to Your Friend</span></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h1>Submit Your Friend</h1>
        <form action="/submit" method="POST">
            <div class="form-group">
                <label for="name">Your Friend's Name or JNTU no:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="traits">About (comma-separated):</label>
                <input type="text" id="traits" name="traits"
                    placeholder="e.g., Handsome, Topper, Funny, Coder, CGPA : 9.8" required>
            </div>
            <center> <button type="submit">Submit</button></center>
        </form>
    </main>

    <center>
        <div class="content">
            <span class="animated-text">If you enter your friend's JNTU No, you'll automatically get his
                name on the
                leaderboard.</span><br><br>
            Just enter your friend's name (or) JNTU number and about them. Once you submit, the leaderboard will update
            in
            a few
            minutes to show the top boys in GMR.<br>
            The
            more you submit, the higher your friend climbs!
            <br><br>
            So, go ahead and enter your friend's name and about them to see where they stand on the
            leaderboard among GMR Boys!<br><br>
            <span style="color: rgb(0, 183, 255);"><b><i>Note:</i> Birthday Boys will be Ranked First in the
                    Leaderboard. [Enter
                    Birthday in the
                    About]</b></span>
        </div>
    </center>

    <footer>
        Made by GMR Boys 🔥 Made for GMR Boys 🔥
    </footer>
</body>

</html>